body {
  margin: 0;
  color: #cbd5e1;
  background-color: #000000;
}
header{
  width: 250px;
  height: 90vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  margin: 15px;
  border-radius: 25px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "nunito"sans-serif;
}
nav ul {
  list-style: none;
  width: 100%;
}

nav ul li {
  width: 100%;
  margin-right: 50px;
}

nav ul li a {
  display: flex;
  text-decoration: none;
  color: #cbd5e1;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;          
  padding: 15px; 
}

nav ul li a i {
  font-size: 18px;
}

nav ul li a:hover {
  background: #1f2937;
  color: #ffffff;
  border-left: 4px solid gray;
  padding-left: 21px;
}

nav ul li a.active{
  background: #1f2937;
  color: #ffffff;
  border-left: 4px solid grey;
}

.container-social-media {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}


.social-media {
  width: 35px;
  height: 35px;
  background: #1f2937;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cbd5e1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-media:hover {
  background: #00bcd4;
  color: #ffffff;
  transform: scale1.1;
}

@media (max-width: 768px) {
  nav {
    width: 80px;
  }

  nav ul li a span {
    display: none;
  }

  nav ul li a {
    justify-content: center;
  }

  .container-social-media {
    width: 80px;
    flex-direction: column;
    gap: 10px;
  }
}


