body {
  margin: 0;
  color: #cbd5e1;
  background-color: #1F1F1F;
}

header {
  width: 250px;
  height: 90vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  margin: 15px;
  border-radius: 25px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Nunito", sans-serif;
  background-color: #1F1F1F;
}

nav {
  width: 100%;
  font-family: "Nunito", sans-serif;
}

nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #cbd5e1;
  font-size: 16px;
  transition: 2rem;
  border-radius: 8px;
  padding: 15px;
  justify-content: flex-start;
}

nav ul li a:hover {
  color: #ffffff;
}

nav ul li a.active {
  background: #1f2937;
  color: #ffffff;
  border-left: 4px solid grey;
}

.container-social-media {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding-left: 15px;
}

.social-media {
  width: 35px;
  height: 35px;
  background: #444444;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cbd5e1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-media:hover {
  background: #1F1F1F;
  color: white;

}main {
  margin-left: 300px;
  padding: 40px;
}
.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Roboto",sans-serif;
  position: absolute;
  top: -62px;
}
.cercle {
  position: absolute;
  background: color-mix(in srgb,#ffffff,transparent 90%);
  border-radius: 50%;
  top: 210px;  
  left: 20px;
  width: 20%;
  height: 20%;
  z-index: -1;
  opacity: 0.6;
}

.hero {
  display: flex;
  align-items: flex-start;
  padding-top: 60px;
  justify-content: space-between;
  gap: 60px;
  margin-top: 40px;
}
.hero-text {
  flex: 1;
  max-width: 50%;
  margin-top: 20px;
  margin-bottom: 20%;
}
.hero-text h1 span {
  color: white;
  font-size: 1.2;
}
.hero-text h2 {
  color: white;          
  font-weight: 300;         
  margin: 10px 0 20px 0;   
  line-height: 1.2;        
}
.hero-text p {
  max-width: 500px;
}
.btn-group {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.btn {
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  width: 35%;
  height: 50%;
  font-size: 12px;
  font-family: "Roboto",sans-serif;
  background-color: #1b1b1b;
  color: #ffffff;
  border: 2px solid;
}
.view-btn {
  background: #ffff;
  color: #1b1b1b;
}
.underline {
  text-decoration: underline;
  white-space: nowrap;
  display: inline;
}
.view-btn:hover {
  background: #e2e8f0;
}

.get-btn {
  border: 2px solid white;
  color: white;
}

.get-btn:hover {
  background: white;
  color: #0f172a;
}

.social-container {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}
.profile {
  position: relative;
  width: 300px;
  height: 350px;
  margin-right: 30px;
  margin-top: 5%;
  margin-bottom: 80%;
  
}
.profile img {
  width: 100%;
  height: 95%;
  display: flex;
  position: relative;
  z-index: 3;
  border-radius: 20px;
  align-items: center; 
}

.hero-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100% ;  
  border: 3px solid color-mix(in srgb, #ffffff, transparent 90%);
  border-radius: 20px;       
  z-index: 1;
  background-color: color-mix(in srgb, #ffffff, transparent 90%);    
  transform: translate(12px, 12px); 
  border: none;
}
.hero-cercle {
  position: absolute;
  top: -30px;       
  left: 10px;        
  width: 120px;      
  height: 120px;
  background: color-mix(in srgb,#ffffff,transparent 90%);
  border-radius: 50%; 
  z-index: 0;
}

