body {
  margin: 0;
  color: #cbd5e1;
  background-color: #1F1F1F;
}

header {
  width: 250px;
  height: 90vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  margin: 15px;
  border-radius: 25px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Nunito", sans-serif;
  background-color: #1F1F1F;
}

nav {
  width: 100%;
  font-family: "Nunito", sans-serif;
}

nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #cbd5e1;
  font-size: 16px;
  transition: 2rem;
  border-radius: 8px;
  padding: 15px;
  justify-content: flex-start;
}

nav ul li a:hover {
  color: #ffffff;
}

nav ul li a.active {
  background: #1f2937;
  color: #ffffff;
  border-left: 4px solid grey;
}

.container-social-media {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding-left: 15px;
}

.social-media {
  width: 35px;
  height: 35px;
  background: #444444;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cbd5e1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-media:hover {
  background: white;
  color: #0f172a;
}

.social-container {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}
.profile {
  position: relative;
  width: 300px;
  height: 350px;
  margin-right: 30px;
  margin-top: 5%;
  margin-bottom: 10%;
  
}
.profile img {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 3;
  border-radius: 20px; 
}

.hero-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100% ;  
  border: 3px solid color-mix(in srgb, #ffffff, transparent 90%);
  border-radius: 20px;       
  z-index: 1;
  background: color-mix(in srgb, #ffffff, transparent 90%);    
  transform: translate(12px, 12px); 
  border: none;
}
.hero-cercle {
  position: absolute;
  top: -30px;       
  left: 10px;        
  width: 120px;      
  height: 120px;
  background: color-mix(in srgb,#ffffff,transparent 90%);
  border-radius: 50%; 
  z-index: 0;
}