body {
  margin: 0;
  color: #cbd5e1;
  background-color: #1F1F1F;
}

header {
  width: 250px;
  height: 90vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  margin: 15px;
  border-radius: 25px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Nunito", sans-serif;
  background-color: #1F1F1F;
}

nav {
  width: 100%;
  font-family: "Nunito", sans-serif;
}

nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #cbd5e1;
  font-size: 16px;
  transition: 2rem;
  border-radius: 8px;
  padding: 15px;
  justify-content: flex-start;
}

nav ul li a:hover {
  color: #ffffff;
}

nav ul li a.active {
  background: #1f2937;
  color: #ffffff;
  border-left: 4px solid grey;
}

.container-social-media {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding-left: 15px;
}

.social-media {
  width: 35px;
  height: 35px;
  background: #444444;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cbd5e1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-media:hover {
  background: #1F1F1F;
  color: white;

}

main {
  margin-left: 300px;
  padding: 0px;
  margin-bottom: 0px;
}
.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Roboto",sans-serif;
  position: relative;
  top: -62px;
}
.cercle {
  position: absolute;
  background: color-mix(in srgb,#ffffff,transparent 90%);
  border-radius: 50%;
  top: 210px;  
  left: 20px;
  width: 20%;
  height: 20%;
  z-index: -1;
  opacity: 0.6;
}

.hero {
  display: flex;
  align-items: flex-start;
  padding-top: 60px;
  justify-content: space-between;
  gap: 60px;
  margin-top: 40px;
  position: relative;
}
.hero-text {
  flex: 1;
  max-width: 50%;
  margin-top: 20px;
  margin-bottom: 20%;
}
.hero-text h1 span {
  color: white;
  font-size: 1.2;
}
.hero-text h2 {
  color: white;          
  font-weight: 300;         
  margin: 10px 0 20px 0;   
  line-height: 1.2;        
}
.hero-text p {
  max-width: 500px;
}
.btn-group {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.btn {
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  width: 35%;
  height: 50%;
  font-size: 12px;
  font-family: "Roboto",sans-serif;
  background-color: #1b1b1b;
  color: #ffffff;
  border: 2px solid;
}
.view-btn {
  background: #ffff;
  color: #1b1b1b;
}
.underline {
  text-decoration: underline;
  white-space: nowrap;
  display: inline;
}
.view-btn:hover {
  background: #e2e8f0;
}

.get-btn {
  border: 2px solid white;
  color: white;
}

.get-btn:hover {
  background: white;
  color: #0f172a;
}

.social-container {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}
.profile {
  position: relative;
  width: 300px;
  height: 350px;
  margin-right: 30px;
  margin-top: 5%;
  margin-bottom: 80%;
  
}
.profile img {
  width: 100%;
  height: 95%;
  display: flex;
  position: relative;
  z-index: 3;
  border-radius: 20px;
  align-items: center; 
}

.hero-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  
  height: 100% ;  
  border: 3px solid color-mix(in srgb, #ffffff, transparent 90%);
  border-radius: 20px;       
  z-index: 1;
  background-color: color-mix(in srgb, #ffffff, transparent 90%);    
  transform: translate(12px, 12px); 
  border: none;
}
.hero-cercle {
  position: absolute;
  top: -30px;       
  left: 10px;        
  width: 120px;      
  height: 120px;
  background-color: color-mix(in srgb,#ffffff,transparent 90%);
  border-radius: 50%; 
  z-index: 0;
}
.about-section {
  width: 95%;
  height: 30px;
  margin-bottom: 50px;
  margin-right: 10px;
  position: relative;
  padding: 0px;
  
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
  
}


.about-card {
  background: linear-gradient(145deg, #1a1a1a, #222);
  padding: 0px;
  border-radius: 30px;
  width: 350px;
  text-align: center;
  border-top: 4px solid white;
  display: flex;
  flex-direction: column;
}

.profile-img img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 6px solid white;
  margin: 0 auto 20px auto;
  object-fit: cover;
}

.about-card h2 {
  margin: 10px 0 5px;
}

.job {
  color: #aaa;
  margin-bottom: 30px;
  display: flex;
  gap: 10px
}

.info-item {
  background: #1c1c1c;
  padding: 20px;
  width: 80%;
  height: 80px;
  margin-bottom: 10px;
  font-size: 14px;
  color: white;
  border-radius: 20px;
  
}

.about-content {
  flex: 1;
  padding: 40px;
  border-radius: 30px;
  background: #1a1a1a;
}

.tag {
  background-color: white;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 20px;
  color: #0f172a;
  font-family: "Roboto", sans-serif;
}

.about-content h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

.about-content p {
  color: #bbb;
  line-height: 1.7;
  margin-bottom: 15px;
}
.icon-btn{
  position: absolute;
  width: 2%;
  height: 15px;
  top: 100px;
  margin-right: 100px;
  background: white;
  padding: 10px;
  border-radius: 55%;
  background-color: #ffffff;
  color: #444444;
  margin: 13px;
  margin-left: 190px;
}

.stats {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  background: #111;
  padding: 30px;
  border-radius: 20px;
  justify-content: space-between;
}

.profile-card {
  display: flex;          
  gap: 20px;              
  padding: 20px;
  width: 92%;
  background: #1a1a1a;
  border-radius: 15px;
  margin-top: 30px;
}

.info-group {
  flex: 1;               
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.info h1 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #ececec;
  display: block;
}

.info p {
  margin-bottom: 15px;   
}

.value {
  font-weight: 600;
  color: #ffffff;
}


.value.senior {
  font-size: 11px;
  padding: 2px 8px;
  border-radius: 12px;
  background: #444444;
  width: fit-content;
}


.tags {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

 .tags span {
  font-size: 10px;
  padding: 3px 8px;
  background: #444444;
  border-radius: 10px;
}
 .profile-card{
  display: flex;
  padding: 1rem;
  height: 120px;
  width: 92%;
  gap: 10px;
  margin-bottom: 95px;
}

.info-group{
  width: 50%;
  height: 120px;
}
.info h1{
  font-size: 14px;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  margin: 0px 0px 8px;
  color: #ececec;
  
}
.info span{
  display: flex;
  font-weight: 600;
  color: #ffffff;
  font-family: "Roboto",sans-serif;
  font-size: 16px;
}
.section-btn {
  display: flex;
  gap: 15px;              
  margin-top: 25px;
}

.section-btn button {
  display: flex;
  align-items: center;
  gap: 8px;               
  padding: 10px 20px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
}

.btn-i {
  background-color: white;
  color: black;
  margin-bottom: 10px;
}

.btn-i:hover {
  background-color: #444444;
}

.btn-get {
  background-color: #444444;
  border: 2px solid #444444;
  color: #ffffff;
}

.btn-get:hover {
  background-color: #444444;
  color: white;
}


.stats-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
  padding: 60px 0;                  
  background-color: #444444;        
  border-radius: 20px;   
}

.stat-card.grey { 
  background-color: #1c1c1c; 
  color: #ffffff; 
}
.stat-card.orange { 
  background-color: #3e2f1a; 
  color: #ffffff; 
}
.stat-card.green { 
  background-color: #1c3f34; 
  color: #ffffff; 
}
.stat-card.pink { 
  background-color: #4a1f35; 
  color: #ffffff; 
}

.icon-circle.grey { 
  background-color: #2a2a2a; 
  color: #ffffff; 
}
.icon-circle.orange { 
  background-color: #a35a1a; 
  color: #ffffff; 
}
.icon-circle.green { 
  background-color: #1f634f; 
  color: #ffffff; 
}
.icon-circle.pink { 
  background-color: #7a2a50; 
  color: #ffffff; 
}

.stat-card {
  width: 220px;
  height: 240px;
  border-radius: 20px;
  text-align: center;
  padding-top: 40px;
  background: #232323;
}

.icon-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}


.stat-card h2 {
  font-size: 48px;
  margin: 10px 0;
  font-weight: bold;
}

.stat-card p {
  font-size: 18px;
  color: #cccccc; 
}