body {
  margin: 0;
  color: #cbd5e1;
  background-color: #1F1F1F;
}

header {
  width: 250px;
  height: 90vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  margin: 15px;
  border-radius: 25px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Nunito", sans-serif;
  background-color: #1F1F1F;
}

nav {
  width: 100%;
  font-family: "Nunito", sans-serif;
}

nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #cbd5e1;
  font-size: 16px;
  transition: 2rem;
  border-radius: 8px;
  padding: 15px;
  justify-content: flex-start;
}

nav ul li a:hover {
  color: #ffffff;
}

nav ul li a.active {
  background: #1f2937;
  color: #ffffff;
  border-left: 4px solid grey;
}

.container-social-media {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding-left: 15px;
}

.social-media {
  width: 35px;
  height: 35px;
  background: #444444;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cbd5e1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-media:hover {
  background: #1F1F1F;
  color: white;

}
 main {
  margin-left: 300px;
  padding: 0;
  margin-bottom: 0;
}
.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  position: relative;
  margin-bottom: 40px;
  margin-left: 40px;
}

.cercle {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  top: 200px;
  left: 20px;
  width: 20%;
  height: 30%;
  z-index: -1;
  opacity: 0.6;
}
.hero {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  gap: 60px;
  padding-top: 20px; 
  margin-top: 0;
  margin-bottom: 15px;
}

.hero-text {
  flex: 1;
  max-width: 50%;
  margin-left: 20px;
  display: inline;
}

.hero-text h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
}

.hero-text h1 span {
  display: block;
  display: inline-block;
 
  
}

.hero-text h2 {
  font-size: 1.5rem; 
  font-weight: 300;
  margin: 10px 0 20px 0;
  line-height: 1.4;
  justify-content: space-between;
}

.hero-text p {
  font-size: 1rem;
  color: #e0e0e0;
  max-width: 500px;
  line-height: 1.6;
}

.btn-group {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  border: 2px solid;
  transition: all 0.3s ease;
}

.view-btn {
  background: #ffffff;
  color: #1b1b1b;
}

.view-btn:hover {
  background: #e2e8f0;
}

.get-btn {
  border: 2px solid white;
  color: white;
}

.get-btn:hover {
  background: white;
  color: #0f172a;
}

.social-container {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.profile {
  position: relative;
  width: 300px;
  height: 350px;
  margin-right: 30px;
  margin-top: 5%;
  margin-bottom: 0; 
}

.profile img {
  width: 100%;
  height: 95%;
  display: block;
  position: relative;
  z-index: 3;
  border-radius: 20px;
}

.hero-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1); 
  transform: translate(12px, 12px);
}

.hero-cercle {
  position: absolute;
  top: -30px;
  left: 10px;
  width: 120px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 50%;
  z-index: 0;
}
.about-section {
  width: 95%;
  height: auto;
  margin: 0 10px 50px 20px;
  position: relative;
  padding: 0;
  font-family: "Roboto", sans-serif;
  margin-left: 30px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 50px;
  justify-content: center;
  gap: 30px;
}

.about-card {
  width: 250px;    
  height: 250px;    
  padding: 20px 20px;
  background: linear-gradient(145deg, #1a1a1a, #222);
  border-radius: 30px;
  text-align: center;
  border-top: 4px solid white;
  display: flex;
  flex-direction: column;
  margin-left: -5px;
}
.profile-img {
  width: 140px;
  height: 140px;
  margin: 0 auto 20px auto;
  position: relative; 
}

.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid white;
}

.name-icon {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 10px; 
  margin-bottom: 20px;
}

.name-icon h2 {
  font-size: 1.5rem; 
  font-weight: 600;
  margin: 0;
}

.icon-btn {
  position: absolute;   
  bottom: 15px;          
  right: 5px;           
  width: 28px;
  height: 28px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #444444;
}

.job {
  color: #aaa;
  font-size: 0.95rem;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.job p {
  margin-bottom: 20px;
  display: inline;
}

.info-item {
  background: #1c1c1c;
  padding: 20px;
  width: 100%; 
  height: 50px;
  margin: 10px auto;
  font-size: 0.9rem;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.about-content {
  border-radius: 30px;
  background: #1a1a1a;
  flex: 0.6;     
  padding: 30px;    
}

.tag {
  background-color: white;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 0.85rem;
  display: inline-block;
  margin-bottom: 20px;
  color: #0f172a;
  font-weight: 500;
}

.about-content h1 {
  font-size: 2.5rem; 
  font-weight: 700;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1rem; 
  color: #bbb;
  line-height: 1.7;
  margin-bottom: 15px;
}

.passion-text {
  font-family: 'Arial', sans-serif;
  font-size: 0.9rem; 
  font-weight: 400;
  color: #bbb;
  line-height: 1.5;
  margin: 10px 0;
  text-align: center;
}

.stats {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  background: #111;
  padding: 30px;
  border-radius: 20px;
  justify-content: space-between;
}

.profile-card {
  display: flex;
  gap: 30px;
  padding: 20px;
  width: 92%;
  background: #1a1a1a;
  border-radius: 15px;
  margin-top: 30px;
}

.info-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info h1 {
  font-size: 0.9rem; 
  font-weight: 600;
  margin-bottom: 5px;
  color: #ececec;
}

.info p {
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #bbb;
}

.value {
  font-weight: 600;
  font-size: 1rem; 
  color: #ffffff;
}

.value.senior {
  font-size: 0.75rem;
  padding: 4px 10px;
  border-radius: 12px;
  background: #444444;
  width: fit-content;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tags span {
  font-size: 0.7rem; 
  padding: 4px 10px;
  background: #444444;
  border-radius: 10px;
  color: #fff;
}

.section-btn {
  display: flex;
  justify-content: space-between;  
  gap: 5px;                          
  width: 100%;                       
  margin-top: 10px;                  
}

.section-btn button {
  display: flex;
  align-items: center ;
  gap: 8px ;               
  padding: 12px 30px;              
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  flex-grow: 1;                                
  text-align: center;               
}

.btn-i {
  background-color: white;
  color: black;
  margin-bottom: 10px;
}

.btn-i:hover {
  background-color: #444444;
}

.btn-get {
  background-color: #444444;
  border: 2px solid #444444;
  color: #ffffff;
}

.btn-get:hover {
  background-color: #444444;
  color: white;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 60px 0;                  
  background-color: #444444;        
  border-radius: 30px;
  height: 300px;
  width: 100%;       
  margin-top: 10%;
  position: relative;
}

.icon-circle.grey { 
  background-color: #444444; 
}

.icon-circle.orange { 
  background-color:  color-mix(in srgb, #ff7e00, transparent 85%);
  color:  #ff7e00; 
}

.icon-circle.green { 
  background-color:   color-mix(in srgb, #00c875, transparent 85%);
  color: #00c875;  
}

.icon-circle.pink { 
  color: #e83e8c; 
  background-color:  color-mix(in srgb, #e83e8c, transparent 85%);
}

.stat-card {
  width: 150px;
  height: 220px;
  border-radius: 20px;
  text-align: center;
  padding-top: 40px;
  background: #2c2c2c;
}

.icon-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: auto ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.stat-card h2 {
  font-size: 48px;
  margin: 10px 0;
  font-weight: bold;
  margin-bottom: 20px;
}

.stat-card p {
  font-size: 14px;
  color: #cccccc; 
}