body {
  margin: 0;
  color: #cbd5e1;
  background-color: #1F1F1F;
}

header {
  width: 250px;
  height: 90vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  margin: 15px;
  border-radius: 25px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Nunito", sans-serif;
  background-color: #1F1F1F;
}

nav {
  width: 100%;
  font-family: "Nunito", sans-serif;
}

nav ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #cbd5e1;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 8px;
  padding: 15px;
  justify-content: flex-start;
}

nav ul li a:hover {
  background: #1f2937;
  color: #ffffff;
  border-left: 4px solid gray;
}

nav ul li a.active {
  background: #1f2937;
  color: #ffffff;
  border-left: 4px solid grey;
}

.container-social-media {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  padding-left: 15px;
}

.social-media {
  width: 35px;
  height: 35px;
  background: #1f2937;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #cbd5e1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-media:hover {
  background: #00bcd4;
  color: #ffffff;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  header {
    width: 80px;
  }

  nav ul li a span {
    display: none;
    margin-left: 20px;
  }

  nav ul li a {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .container-social-media {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
